@import 'tailwindcss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* width: 100vw; */
  height: 100vh;
  background-color: #f1fcff;
  font-family: 'Roboto', 'TT Lakes Compressed', sans-serif;
  color: #1b1c21;
}
